{% set user_id = h.initiatives_get_user_id() %}

{% if user_id %}
<div class="dropdown btn-group">
    {% block resource_item_request_access %}
    <a href="mailto:help@bioplatforms.com" class="btn"><i class="fa fa-icon fa-unlock-alt"
                                                          style="margin-right: 5px;"></i>Request Access</a>
    {% endblock %}
</div>
{% else %}
<div class="dropdown btn-group restricted-link">
    <i class="fa fa-icon fa-user"></i>
    {% block resource_item_unauthorized %}
    <a href="{{ h.url_for('user.login', came_from='/dataset/'+pkg.name) }}">{{ _('Log in') }}</a>
    {{ _('or') }} 
    <a href="{{ h.url_for('user.register') }}">{{ _('Register')}}</a> {{ _('to access resource')}}
    {% endblock %}
</div>
{% endif %}
